<div class="card mt-4" style="width: 20rem">
  <img class="card-img-top" [src]="movie.imageUrl" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.description }}</p>
    <button class="btn btn-primary" [routerLink]="['/movie', movie.id]">
      Read more
    </button>
    <button
      class="btn btn-primary m-2"
      [routerLink]="['/edit-movie', movie.id]"
    >
      Edit
    </button>
  </div>
</div>
