<div class="detail">
  <div class=" row">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="card mt-2" style="width: 22rem">
        <img  class="img-top"src="{{ movie.imageUrl }}" alt="movie img " style="height:28rem" />
        <div class="card-body">
          <h4 class="card-title">{{ movie.title }}</h4>
          <p class="card-text">{{ movie.description }}</p>
          <h6 appChangecolor [rate]="movie.rate" class="badge rounded-pill bg-dark">
            Rate:
            {{ movie.rate }} /10
          </h6>
          <p>Duration: {{ movie.duration }} min</p>
          <P class="card-text">Actors: {{ movie.actors }}</P>
        </div>
      </div>
    </div>
  </div>
  
</div>
