<div class="row">
    <div *ngIf="movie" class="col-md-12">
       <div class="container d-flex ">
           <div>
                <img src="{{movie.imageUrl}}" alt="movie img "style="height:30rem;">
            </div>

           <div class="col-md-4">
               <h3>{{movie.title}}</h3>
               <p>{{movie.description}}</p>
                 <h6>Rate: {{movie.rate}}/10</h6>
                 <p>Duration: {{movie.duration}} min</p>
                 <P>Actors: {{movie.actors}}</P>
                 
           </div>
          
            
       </div>
       
    </div>
  </div>
  
  
