<div *ngIf="movie" class="row">
  <div  class="col-md-12">
    <div class="container d-flex justify-content-center mt-4">
      <div>
        <img
          src="{{ movie.imageUrl }}"
          alt="movie img "
          style="height: 25rem"
        />
      </div>

      <div class="col-md-4 m-4">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.description }}</p>
        <h6 class="badge rounded-pill bg-dark" appChangecolor>
          Rate: {{ movie.rate }}/10
        </h6>
        <p>Duration: {{ movie.duration }} min</p>
        <P>Actors: {{ movie.actors }}</P>
      </div>
    </div>
  </div>
</div>
