<div
  class="row"
  style="padding: 0 5rem 0 5rem;"
>
  <form class="d-flex justify-content-center">
    <input style="width:25rem;"
      class="form-control search-box mt-2"
      type="search"
      name="search"
      [(ngModel)]="filterMovie"
      placeholder="Search Movie">


  </form>

  <div *ngFor="let movie of movies | filter:filterMovie" class=" col-md-4 col-xs-12">
    <movie-thumbnail [movie]="movie"> </movie-thumbnail>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-start m-4">
      <li class="page-item ">
        <a class="btn btn-secondary" (click)="onPrevious()">Previous</a>
      </li>
      <li class="page-item" style="margin-left:.3rem ;">
        <a class="btn btn-secondary" (click)="onNext()">Next</a>
      </li>
    </ul>
  </nav>
</div>
